@model VirtualGarage.Models.MessageWithRedirectModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Сообщение</title>
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            alert('@Model.Message');
            window.location.replace("@Url.Action(Model.ActionName, Model.ControllerName, Model.RouteValueDictionary)");
            
        });
</script>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
