@model VirtualGarage.Models.GarageConsumptionStatisticModel

@{
    ViewBag.Title = "Общая статистика расхода топлива";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<h2>Общая статистика расхода топлива</h2>
