@model VirtualGarage.Models.GarageStatisticModel

@{
    ViewBag.Title = "Общая статистика пробега и расходов";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<h2>Общая статистика пробега и расходов</h2>


                    <input type="hidden" value="121" name="CarID" id="CarID">
                    
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawMonthMileageChart);

        function drawMonthMileageChart(year) {
            $.ajax(
            {
                type: "POST",
                url: "/Car/GetMonthMileages",
                data: "carID=" + 121 + "&amp;year=" + year,
                success: function (markData) {

                    data = markData;

                    var points = new Array(data.length + 1);
                    points[0] = ['Месяц', 'Пробег'];
                    $.each(data, function (index, itemData) {
                        points[index + 1] = [itemData.Month, itemData.Value];
                    });

                    var data = google.visualization.arrayToDataTable(points);

                    var options = {
                        title: 'Пробег, км',
                        hAxis: { title: 'Месяц', titleTextStyle: { color: 'red' } },
                        chartArea: { left: 50, top: 50 }
                    };

                    var chart = new google.visualization.ColumnChart(document.getElementById('chart_month_mileage_div'));
                    chart.draw(data, options);
                }
            });
        }

        $(window).load(function () {

            $("#MonthMileageYear").change(function () {
                drawMonthMileageChart($(this).val());
            });
        });
    </script><script type="text/javascript" src="https://www.google.com/uds/?file=visualization&amp;v=1&amp;packages=corechart"></script><script type="text/javascript" src="https://www.google.com/uds/api/visualization/1.0/4c2447db544d51e9c1e1331ad8007df0/format+ru,default,corechart.I.js"></script>
    <script type="text/javascript">

        function StartLoader() {
            $("#ajax_loader_div").css('display', 'block');
        };

        function FinishLoader() {
            $("#ajax_loader_div").css('display', 'none');
        };

        $(document).ready(function () {

            $("#ddlEventType").change(function () {
                if ($(this).val() != "") {
                    var idEvent = $(this).val();
                    StartLoader();
                    $("#ddlEventType").attr("disabled", true);

                    $.ajax(
                {
                    type: "GET",
                    url: "/Car/GetPartialStatistics",
                    data: "carID=" + 121 + "&amp;eventTypeID=" + idEvent,
                    dataType: "html",
                    success: function (result) {

                        var domElement = $(result);
                        $("#statistic_table").replaceWith(domElement);


                    },
                    complete: function () {
                        FinishLoader();
                        $("#ddlEventType").attr("disabled", false);
                    }
                });
                }
            });
        });
</script>

    <h2>Статистика пробега</h2>
    <ul class="MileageStatistic">
        <li>
            <h4> Средний пробег в месяц</h4> 360<span> км.</span>
        </li>
        <li>
            <h4>Пробег по годам</h4>
            <p>Год:                
                <select name="MonthMileageYear" id="MonthMileageYear"><option value="2013">2013</option>
<option value="2012">2012</option>
<option value="2011">2011</option>
</select>
            </p>
            <div style="width: 600px; height: 500px; position: relative;" id="chart_month_mileage_div"><div style="position: relative; width: 600px; height: 500px;" dir="ltr"><div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;"><svg width="600" height="500" style="overflow: hidden;"><defs id="defs"><clipPath id="_ABSTRACT_RENDERER_ID_0"><rect x="50" y="50" width="371" height="309"/></clipPath></defs><rect x="0" y="0" width="600" height="500" stroke="none" stroke-width="0" fill="#ffffff"/><g><text text-anchor="start" x="50" y="29.55" font-family="Arial" font-size="13" font-weight="bold" stroke="none" stroke-width="0" fill="#000000">Пробег, км</text></g><g><rect x="434" y="50" width="153" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"/><g><rect x="434" y="50" width="153" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"/><g><text text-anchor="start" x="452" y="61.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">Пробег</text></g><rect x="434" y="50" width="13" height="13" stroke="none" stroke-width="0" fill="#3366cc"/></g></g><g><rect x="50" y="50" width="371" height="309" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"/><g clip-path="url(http://localhost:50594/Car/Statistics?CarID=121#_ABSTRACT_RENDERER_ID_0)"><g><rect x="50" y="358" width="371" height="1" stroke="none" stroke-width="0" fill="#cccccc"/><rect x="50" y="281" width="371" height="1" stroke="none" stroke-width="0" fill="#cccccc"/><rect x="50" y="204" width="371" height="1" stroke="none" stroke-width="0" fill="#cccccc"/><rect x="50" y="127" width="371" height="1" stroke="none" stroke-width="0" fill="#cccccc"/><rect x="50" y="50" width="371" height="1" stroke="none" stroke-width="0" fill="#cccccc"/></g><g><rect x="65" y="314" width="45" height="44" stroke="none" stroke-width="0" fill="#3366cc"/><rect x="139" y="240" width="45" height="118" stroke="none" stroke-width="0" fill="#3366cc"/><rect x="213" y="96" width="45" height="262" stroke="none" stroke-width="0" fill="#3366cc"/><rect x="287" y="97" width="45" height="261" stroke="none" stroke-width="0" fill="#3366cc"/><rect x="361" y="265" width="45" height="93" stroke="none" stroke-width="0" fill="#3366cc"/></g><g><rect x="50" y="358" width="371" height="1" stroke="none" stroke-width="0" fill="#333333"/></g></g><g/><g><g><text text-anchor="middle" x="87.5" y="378.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">Янв</text></g><g><text text-anchor="middle" x="161.5" y="378.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">Фев</text></g><g><text text-anchor="middle" x="235.5" y="378.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">Мар</text></g><g><text text-anchor="middle" x="309.5" y="378.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">Апр</text></g><g><text text-anchor="middle" x="383.5" y="378.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">Май</text></g><g><text text-anchor="end" x="37" y="363.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">100</text></g><g><text text-anchor="end" x="37" y="286.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">200</text></g><g><text text-anchor="end" x="37" y="209.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">300</text></g><g><text text-anchor="end" x="37" y="132.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">400</text></g><g><text text-anchor="end" x="37" y="55.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">500</text></g></g></g><g><g><text text-anchor="middle" x="235.5" y="444.55" font-family="Arial" font-size="13" font-style="italic" stroke="none" stroke-width="0" fill="#ff0000">Месяц</text></g></g><g/></svg></div></div><div style="display: none; position: absolute; top: 510px; left: 610px; white-space: nowrap; font-family: Arial; font-size: 13px;">Пробег</div><div></div></div>
        </li>
    </ul>








    <h2>Статистика расходов</h2>
    <div class="actions">   
        <div class="action_ddl">
            <span>Показать события:</span>
        
            <select name="EventTypeID" id="ddlEventType"><option value="0" selected="selected">Все</option>
<option value="1">Ремонт</option>
<option value="2">Заправка</option>
<option value="3">Стоянка</option>
<option value="4">Страховка</option>
<option value="5">Кредит</option>
<option value="6">Мойка</option>
<option value="7">Штраф</option>
<option value="8">Обслуживание</option>
</select>               
                           
            <div id="ajax_loader_div">
                <img id="ajax_loader_gif" alt="" src="/Content/images/ajax_loader.gif">
            </div>

        </div>    
    </div>
    
    <input type="hidden" value="121" name="BaseModel.CarID" id="BaseModel_CarID">

        <div id="statistic_table" class="table_left_header">
            <table>
                
                    <tbody><tr>
                        <th>Всего затрачено: </th>
                        <td>                        
<label for="GeneralCost">1&nbsp;211&nbsp;143,00р.</label>                                <br>                      
<label for="GeneralCost">$1,423.00</label>                                <br>                      
<label for="GeneralCost">1.458,00 €</label>                                <br>                      
                        </td>
                    </tr>
                               
            </tbody></table>

        </div>

