@model VirtualGarage.Models.GarageConsumptionStatisticModel

@{
    ViewBag.Title = "Общая статистика расхода топлива";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<h2>Общая статистика расхода топлива</h2>


                    <input id="CarID" name="CarID" value="121" type="hidden">
                    
    <h3>Статистика расхода топлива</h3>
    <br>
    <input id="BaseModel_CarID" name="BaseModel.CarID" value="121" type="hidden">

    

                <h3>Бензин (л.)</h3>   
                <div class="table_left_header">
                    <table>
                            <tbody><tr>
                                <th>Декабрь 2011</th>
                                <td>300,00</td>
                            </tr>
                            <tr>
                                <th>Июнь 2012</th>
                                <td>1086,00</td>
                            </tr>
                            <tr>
                                <th>Февраль 2012</th>
                                <td>432,00</td>
                            </tr>
                            <tr>
                                <th>Март 2012</th>
                                <td>634,00</td>
                            </tr>
                            <tr>
                                <th>Апрель 2012</th>
                                <td>426,00</td>
                            </tr>
                            <tr>
                                <th>Май 2012</th>
                                <td>734,00</td>
                            </tr>
                            <tr>
                                <th>Июль 2012</th>
                                <td>625,00</td>
                            </tr>
                            <tr>
                                <th>Август 2012</th>
                                <td>543,00</td>
                            </tr>
                            <tr>
                                <th>Сентябрь 2012</th>
                                <td>613,00</td>
                            </tr>
                            <tr>
                                <th>Октябрь 2012</th>
                                <td>712,00</td>
                            </tr>
                            <tr>
                                <th>Ноябрь 2012</th>
                                <td>378,00</td>
                            </tr>
                            <tr>
                                <th>Декабрь 2012</th>
                                <td>463,00</td>
                            </tr>
                            <tr>
                                <th>Январь 2013</th>
                                <td>634,00</td>
                            </tr>
                            <tr>
                                <th>Февраль 2013</th>
                                <td>612,00</td>
                            </tr>
                            <tr>
                                <th>Март 2013</th>
                                <td>426,00</td>
                            </tr>
                            <tr>
                                <th>Апрель 2013</th>
                                <td>792,00</td>
                            </tr>
                            <tr>
                                <th>Май 2013</th>
                                <td>534,00</td>
                            </tr>
               
                    </tbody></table>
                </div>
                <br>
                <h3>Газ (л.)</h3>   
                <div class="table_left_header">
                    <table>
                            <tbody><tr>
                                <th>Апрель 2013</th>
                                <td>100,00</td>
                            </tr>
                            <tr>
                                <th>Май 2013</th>
                                <td>212,00</td>
                            </tr>
                            <tr>
                                <th>Июнь 2013</th>
                                <td>215,00</td>
                            </tr>
               
                    </tbody></table>
                </div>
                <br>

                