@model VirtualGarage.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<h2>Восстановление пароля</h2>

<span>Введите E-mail, указанный при регистрации. Если указанный E-mail будет найден в системе, 
на него придет письмо с информацией по восстановлению пароля</span>

@using(Html.BeginForm())
{
    @Html.ValidationSummary(true, "Не удалось отправить пароль на указанный E-mail");
    <div class="editor-label">
        Введите E-mail, указанный при регистрации:
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <input class="button" type="submit" value="Отправить" />

}



