@model VirtualGarage.Models.IndexModel

@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";

    
}

<h2>Что такое виртуальный гараж?</h2>

<p> Это сервис для водителей. Он помогает вести учет всех затрат, расходов и событий, происходящих с автомобилем.
     Напоминает о предстоящих событиях. Обобщает статистику и опыт эксплуатации всех марок и моделей автомобилей.

    Тысячи людей уже используют наш сервис для хранения истории своих автомобилей! </p>
<h3>Учет затрат и событий</h3>
<p>Тут можно записывать и хранить историю вашего автомобиля, получать напоминания о предстоящем сервисном обслуживании,
     страховке или ремонте. Ваши записи могут быть открытыми или недоступными для просмотра другим пользователям.</p>
<h3>Статистика расходов</h3>
<p>Все ваши расходы на автомобиль представленны в виде таблиц, которые позволят выявить наиболее затратные
 события и помогут оптимизировать ваши затраты на эксплуатацию автомобиля.</p>
 <h3>Контроль расхода топлива</h3>
 <p>Расход топлива, один из наиболее важных параметров в автомобиле, особенно при нынешних ценах на горючее.
 Точные цифры предоставят полную картину о реальном расходе топлива, и помогут понять где выгоднее заправляться.</p>
 <h3>Поиск и сравнение</h3>
 <p>Можно найти интересующий вас автомобиль, посмотреть доступные события, сравнить затраты, расход топлива, данные о
 ремонте и обслуживании, наконец связаться с хозяином и выяснить интересующие вопросы о запчастях, СТО и прочее.</p>


